<div id="<%= dom_id subtask %>">
  <p>
    <strong>Title:</strong>
    <%= subtask.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= subtask.description %>
  </p>

  <p>
    <strong>Done:</strong>
    <%= subtask.done %>
  </p>

  <p>
    <strong>Completed at:</strong>
    <%= subtask.completed_at %>
  </p>

  <p>
    <strong>Task:</strong>
    <%= subtask.task_id %>
  </p>

</div>
