<p style="color: green"><%= notice %></p>

<%= render @subtask %>

<div>
  <%= link_to "Edit this subtask", edit_admin_subtask_path(@subtask) %> |
  <%= link_to "Back to subtasks", admin_subtasks_path %>

  <%= button_to "Destroy this subtask", @subtask, method: :delete %>
</div>
